<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<link href="../static/css/voting.css" th:href="@{/css/voting.css}"
	rel="stylesheet" />
</head>
<body>
		<label for="diainicio">Dia inicio </label>
		<input id="diainicio" type="date" class="form-control" />
		
		<label for="horainicio">Hora inicio </label>
		<input id="horainicio" type="time" class="form-control" placeholder="hh:mm" />
			
		
		
		<label for="diafin">Dia fin </label>
		<input id="diafin" type="date" class="form-control" />
		
		<label for="horafin">Hora inicio </label>
		<input id="horafin" type="time" class="form-control" placeholder="hh:mm" />
		
		
		<br />
		<br />
		
		<form action="/guardarVotacion" method="post" class="form-horizontal">
		 	<label for="opciones">Tipo de votación:</label>
	           	 <select>
	              	  <!-- Iterate on ${opciones} -->
	                 <option>Referendum</option>
	               	 <option>Generales</option>
	            </select>
	            
	     
		
			<br /><button type="submit" class="btn btn-primary">Enviar</button>
		
		
    	</form>
    	
    	
</body>
</html>