<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
</head>
<body>

	<form id="form_votacion" action="#" th:action="@{/guardarVotacion}" th:object="${vot}" method="post" >

		<label for="diainicio">Dia inicio </label>
		<input id="diainicio" type="date" th:field="*{fechaInicio}"/>
	
	
	
		<label for="diafin">Dia fin </label>
		<input id="diafin" type="date" th:field="*{fechaFin}"/>
	
		<br />
		<br />	
		
		 <label for="opciones">Tipo de votación:</label>
		 <input id="tipoVotacion" type="text" th:field="*{tipoVotacion}"/>
		
		<button type="submit">Enviar</button>

	</form>


</body>
</html>