<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<link href="../static/css/voting.css" th:href="@{/css/voting.css}"
	rel="stylesheet" />
</head>
<body>


	<div id="voters-info">
		<form action="/save" method="post" class="form-horizontal">
			Obtener centro electoral <label for="code"
				class="col-sm-4 control-label">Login</label>
			<div class="col-sm-8">
				<input id="code" class="form-control" name="code" type="email"
					placeholder="Email" required="required" />
			</div>
			<label for="name" class="col-sm-4 control-label">Clave</label>
			<div class="col-sm-8">
				<input id="name" class="form-control" name="name" type="password"
					placeholder="Contraseña" required="required" />
			</div>
			<div class="col-sm-offset-4 col-sm-8">
				<button type="submit" class="btn btn-primary">Comprobar</button>
			</div>

		</form>
	</div>













	<label for="diainicio">Dia inicio </label>
	<input id="diainicio" type="date" class="form-control" />

	<label for="horainicio">Hora inicio </label>
	<input id="horainicio" type="time" class="form-control"
		placeholder="hh:mm" />



	<label for="diafin">Dia fin </label>
	<input id="diafin" type="date" class="form-control" />

	<label for="horafin">Hora inicio </label>
	<input id="horafin" type="time" class="form-control"
		placeholder="hh:mm" />


	<br />
	<br />

	<form action="/guardarVotacion" method="post" class="form-horizontal">
		<label for="opciones">Tipo de votación:</label> <select>
			<!-- Iterate on ${opciones} -->
			<option>Referendum</option>
			<option>Generales</option>
		</select> <br />
		<button type="submit" class="btn btn-primary">Enviar</button>


	</form>


</body>
</html>