<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<link href="../static/css/voting.css" th:href="@{/css/voting.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="header" th:fragment="cabecera">
		<h1>Voting System</h1>
		<h2>FORMULARIO DE VOTACIÓN</h2>
	</div>

	
	<form id="form_votacion" action="#" th:action="@{/guardarVoto}"
		th:object="${votacion}" method="post">

		<label for="opciones">Opciones:</label> <select>
			<!-- Iterate on ${opciones} -->
			<option>Candidato1</option>
			<option>Candidato2</option>
			<option>Blanco</option>
			<option>Nulo</option>
		</select>
		
		<button type="submit">Enviar</button>

	</form>











</body>
</html>